{% block head %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block header %}
    <a href="/">Home</a>
    <a href="/contacts">Contacts</a>
{% endblock %}
{% block body %}
    <h1>Home</h1>
{% endblock %}