{% extends "ContactBundle:Default:index.html.twig" %}
{% block body %}
    {{ parent() }}
    {% if categories|length > 0 %}
        <ul>
            {% for category in categories %}
                <li>{{ category.name }}</li>
                {% endfor %}
        </ul>
    {% else %}
        <p>No categories</p>
    {% endif %}
    <a href="{{ path('addCategory') }}">Add category</a>
{% endblock %}