{% extends "ContactBundle:Default:index.html.twig" %}
{% block body %}
    <div>First name : {{contact.firstName}}</div>
    <div>Last name : {{contact.lastName}}</div>
    <div>Email : {{contact.emailAddress}}</div>
    <div>Phone number : {{contact.phoneNumber}}</div>
{% endblock %}